[2021-05-12 17:55] cosden opened #4 "US-RSE Association & Home in nav bar"
Do we need them both? They seem to serve the same function.

[2021-05-12 17:56] vsoch commented on #4
Definitely not, shall we remove "Home" ?

[2021-05-12 17:57] cosden opened #5 "Spelling out of US-RSE Association"
I realize the first time we see the US-RSE abbreviation is after the header and the events/about/news section. I'm not sure we're quite ready to assume people will know that's what it means. So maybe there is a way to work it in higher up.

[2021-05-12 17:58] cosden commented on #4
That would be my vote, but those with more UI/UX experience may have other opinions. I  know I'm out of my depth on many of these things!

[2021-05-12 17:58] vsoch commented on #5
@cmaimone (I think, sorry if I mis-remember) was talking about having it in the text at the top instead of my corny slogan line. Is that an idea we want to try?

[2021-05-12 18:49] cosden opened #6 "News link & front page display"
I feel that news & updates (using the old site's terminology - not necessarily how we have to continue) is important and a key way we communicate timely and pertinent organization information.
Right now the news link (learn more) goes to newsletters rather than news and updates and the reader would have to notice the side menu. I think either going to news & updates first would be better. Or rethi

[2021-05-12 18:53] cmaimone commented on #5
I think it wasn't about getting rid of the one-liner - we probably do want one.  It was just making sure we got the full name up at the top.  So along the lines of Ian's comment, perhaps spelling out the full name there - plus any tag line we come up with.

[2021-05-12 18:58] vsoch commented on #5
Gotcha! So for the next round of changes I'll try adding the full name (and my terrible one liner, and we can figure out a better one later!)

[2021-05-12 19:11] cosden commented on #5
I agree that we likely want a one liner. If there is a way to spell out US-RSE and have a one liner, that would be ideal.

I don't think the one you have is terrible or corny.  That said, let's make it its own issue so it's clear where that discussion should be.

[2021-05-12 19:15] cosden opened #7 "Decide on Single Sentence Description for front page header"
A single descriptive sentence or one-liner that describes US-RSE and our mission and organization would be a great design feature.
We just need to decide on what it should be. I think it's a larger discussion than just the website wg.

The one there now "Building software and community in support of research." is a great place holder!

[2021-05-12 19:44] cosden opened #8 "Updates to Calendar Integration"
The new site's calendar (I think) pulls from the events page. This is useful functionality and makes a lot of sense. But it may end up with problems. Like the 2-day virtual workshop only shows up as one day and wouldn't be useful to import.

Also how do we also best integrate the [us-rse google calendar](https://us-rse.org/calendar/)? (Right now we update the calendar manually to reflect new event

[2021-05-12 19:46] cosden opened #9 "Expired Events"
The new events page displays expired events alongside upcoming ones.

I don't know what the right approach is (a separate past events page, or a toggle switch to show old events, etc) but I don't think they should, by default, be displayed on the main events page. An easy way to search/display archived events is important and we want to capture it.

[2021-05-12 19:49] cosden opened #10 "Event page layout"
I like the event page layout, and the categorization approach, but it does lose the chronological view. Perhaps the calendar is sufficient for this. Still, I think this is a good issue for discussion - what should the event page look like.

[2021-05-12 19:58] cosden opened #11 "Change event timing from UTC to a US-based time zone"
It's not wrong to have them in UTC, but it would be my strong preference to list events in one of the 4 main time zones in the US. We are all used to converting in our head. Better yet, to have it displayed in local time.

[2021-05-12 20:40] vsoch commented on #8
@cosden the times are all customizable - if the two day workshop shows up as one day that's mostly my fault for adding the wrong timestamps - I had to go through every existing event and do it manually (start and end times).

And a google calendar can easily be added: https://fullcalendar.io/docs/google-calendar.

[2021-05-12 20:42] vsoch commented on #9
I just didn't add that check yet, should be possible with a few lines of jekyll :)

[2021-05-13 19:48] cosden opened #12 "Featuring Working Groups"
Where do we highlight working groups such as DEI? Or in the future other special interest groups?

[2021-05-13 19:52] cosden opened #13 "Copyright and CC BY"
On the old page we had a footer that made this explicit:
![image](https://user-images.githubusercontent.com/5824618/118179286-15e28380-b403-11eb-9ea4-db60eb8bfc76.png)
I think we should have something similar (but where?!)

[2021-05-13 20:47] vsoch commented on #12
I had put a box at the end of the starting page (at least for DEI) linking to something that doesn't exist (but suggesting that it should), and another idea would be to have a menu for Working Groups that has submenus that take to specific pages for each one.

[2021-05-13 20:47] vsoch commented on #13
The footer is the most expected and logical place for that I think.

[2021-05-14 17:44] cmaimone opened #14 "Links Page under Training should be under External"
The links on the Training > Links page aren't really training resources.  This seems like a better fit under external.

This page also has different types of things that need to be cleaned up.
1. Links to other organizations we want people to know about
2. Maybe a few learning links - but these should link to specific training materials if they exist, not just the organizations -- be organized mor

[2021-05-14 17:45] cmaimone opened #15 "Working Groups page"
There should be a page where we list current working groups, a contact, how to get involved, etc.  Could be under About or Get Involved.  Will need to ask each working group for info after we have a template of what we want to include.

[2021-05-14 17:54] cmaimone opened #16 "What is US-RSE box content"
The What is US-RSE box - need to refine the text in that box and the title.  Also, where should it link?  The About box immediately above links to about, so how is this box different?  Does it have a different goal?

[2021-05-14 17:56] cmaimone opened #17 "Join page: add it's free, content"
Refine the text on the Join page.  In particular:
* Note that it's currently free
* What do members get?  add in they'll get newsletters, vote for SC, etc.
* Who should join: both RSEs and allies

[2021-05-14 17:57] cmaimone opened #18 "Job Board: Careers/Jobs"
Job board is currently under careers - consider making this a top level category on its own since it's a primary function.  Move What is an RSE? content elsewhere.  Thoughts?

[2021-05-14 17:58] cmaimone commented on #15
Oops - missed an open issue on this #12

[2021-05-14 17:58] #15 closed

[2021-05-14 18:00] cmaimone commented on #12
For now, I'd like to see a single Working Groups page under About or Get Involved that lists current working groups, short description, a contact, how to get involved, etc.  Then this main page can link to more specific pages if they are eventually needed with details on the work of each group.

Will need to ask each working group for info after we have a template of what we want to include.

[2021-05-14 18:05] cmaimone opened #19 "Community Documents"
https://vsoch.github.io/usrse.github.io/community-documents/ - I find this page confusing.  I suggest starting with a list of community documents with short descriptions, and possibly their status?  In progress, planning, draft done, etc.

Also would like to see more explanation on what the goal of the community document is -- resource for the community, resource for outsiders, etc.  The goals cou

[2021-05-14 18:07] cmaimone opened #20 "Contact Info"
Have a clearer contact page/contact info probably in the footer and perhaps in the About section.  Primary contact is contact@us-rse.org.

[2021-05-14 18:10] cmaimone opened #21 "Second feature box"
Second full-width feature box, currently Great ideas deserve great software.

What content do we want here?  What page should this link to?

One idea: use this as a rotating spot to feature whatever upcoming (or recently past) event or activity we have had

[2021-05-16 21:04] vsoch commented on #5
To clarify this issue - this will add the full name, but the actual line for the slogan can be discussed in another issue.

[2021-05-17 18:49] cosden opened #24 "Preview on multiple platforms, browsers, and screen sizes"
I want to leave this here so we don't lose track of it. We'll need to check at various stages that our design works across platforms (especially to ensure it is mobile friendly).

I'm not sure the best way/frequency to do this, hence the issue!

[2021-05-17 19:44] vsoch commented on #24
For now, the way to do it is to right click in the browser --> inspect and then click the little mobile icon in the bottom right. You can browse the site from the dimension of choice.

[2021-05-17 23:24] #4 closed

[2021-05-17 23:24] #5 closed

[2021-05-17 23:24] #6 closed

[2021-05-17 23:24] #13 closed

[2021-05-17 23:28] cosden opened #25 "License for content"
On the old page we had a footer that made licensed content as CC BY 4.0:
![image](https://user-images.githubusercontent.com/5824618/118568415-c7f0b700-b745-11eb-9bb1-1d33736926bd.png)

There was some brief discussion in #23 but we likely need to have a broader discussion about what is appropriate.

[2021-05-17 23:31] cosden commented on #24
Super cool! Thanks @vsoch. I didn't know about this. Should we say it's good practice to preview mobile before approving PRs that have a design/layout element? Or just check on it from time to time?

[2021-05-17 23:43] vsoch commented on #24
I just check it from time to time when there are changes to the structure of a page (or addition of a new one).

[2021-05-18 19:13] suednimh commented on #24
I have access to computers with Windows Mac and Linux, and at least 2 browsers on each and volunteer to do a first pass

[2021-05-18 19:22] cmaimone opened #27 "Top Menu links: currently go to home page"
The top menu links (About, Events, Get Involved, etc. ) are currently linked to the main page instead of section-specific pages.  Need to decide if these go to some type of section index or one of the subpages.

For example, if you click on Careers, where should it go?

[2021-05-18 19:30] cmaimone opened #28 "Job board: form to submit postings"
Either an integrated form or separate form (google forms or something) for people to submit a new job.  Ideally there would also be infrastructure to make it easy to post the job if approved (once reviewed by someone), but as a first step, just get structured data and a way to submit other than PR

[2021-05-18 19:31] cmaimone opened #29 "Job board: posting policy"
We might have this somewhere, but link more clearly from the job board a policy as to what is appropriate to be posted.  We might need to write or refine this policy.

[2021-05-18 19:33] exoticDFT opened #30 "Job Board: Add date information to layout"
Currently we do not have information about the deadlines for application or when the job was posted visible in the layout. This would help those interested in the available jobs know which have upcoming deadlines and what is new/old.

[2021-05-18 19:39] cmaimone commented on #14
I've pinged the education/training working group to decide on #2 -- if we should have such a page on the website, and if so, what the content should be

[2021-05-19 00:18] cosden opened #31 "Home in navbar"
When I preview the new website locally the home link in the navbar is gone (as expected from #23):
![image](https://user-images.githubusercontent.com/5824618/118738735-b7a80d00-b815-11eb-8c8b-3ff633d9af9e.png)

But the published version it’s still there:
![image](https://user-images.githubusercontent.com/5824618/118738767-cb537380-b815-11eb-90e3-32db669ed15b.png)

Am I missing something obvious?

[2021-05-19 00:31] vsoch commented on #31
oh oups, that's my fault! I disabled all actions (of which page building is one) so we wouldn't be parsing for expired jobs, updating contributors, etc. I just changed the settings to allow GitHub based actions, so (I think?) that should work to trigger a build. We can double check the next time the site is merged to master.

[2021-05-19 00:35] vsoch commented on #31
When you need to check, you can check the pages builds here: https://github.com/vsoch/usrse.github.io/deployments/activity_log?environment=github-pages

[2021-05-19 21:52] mtbc commented on #30
Note also https://github.com/USRSE/usrse.github.io/issues/348. Can imagine arguments for sorting by either.

[2021-05-19 21:55] vsoch commented on #30
I think it's pretty rare that job listings have hard deadlines - at least from my small experience it seems like they are "open until filled" so (at best) our expiration dates are just guesses. But maybe if we show the date they were posted that gives a sense of how long they have been around.

[2021-05-19 22:02] mtbc commented on #30
Posting date is especially useful for people who periodically come back and just read down from the top until they start looking familiar.

[2021-05-19 22:04] mtbc commented on #20
Could some kind of mail envelope with a `mailto:contact@us-rse.org` link be good in the footer, along with the social media icons, or would that be confusing? Is there an obvious source of SVG like the others?

[2021-05-19 22:58] mtbc commented on #11
The event descriptions generated by Jekyll, I'm not aware of a way to use the browser's local timezone. However, the calendar currently picks up the that local timezone. How do you feel between,

1. Set Jekyll to a US timezone and leave the calendar alone, so the event pages may show a different time from the calendar.
1. Set Jekyll and the calendar to the same US timezone which may not be the use

[2021-05-20 00:03] exoticDFT commented on #30
You are right about most of the jobs not having expiration dates. I've just seen some in the past (my last job was like this.) May be worth trying a layout with more information and remove things if it's too "busy". Having a "since posted" label (e.g. "Posted 10 days ago") or just "posted on MM/DD/YY" label is the more crucial concern. Sorting based on these posted dates would be a great feature.

[2021-05-20 00:12] exoticDFT commented on #30
Uh actually I was just looking over the way we add job posts (had never looked before) and we specifically ask for an expiration date, but not a "posted date". So I guess we are handling jobs posts removing themselves after a while, but we are not handling dead posts. But it seems like we might want to add a new variable/label for posted date.

[2021-05-20 00:21] exoticDFT commented on #30
It also seems like we may have a bug? We updated the jobs file last week to match us-rse.org, but https://vsoch.github.io/usrse.github.io/jobs/ and https://us-rse.org/jobs/ don't match up. And more specifically, the postings that aren't working seem to have expiration dates that have passed. One example, https://github.com/vsoch/usrse.github.io/blob/c72c67e75d0e98abfc77f29717936e0f270b4c64/_data/j

[2021-05-20 00:22] mtbc commented on #30
For https://github.com/vsoch/usrse.github.io/issues/30#issuecomment-844511365 the "posted date" I care about is when it was posted on our jobs site.

[2021-05-20 00:23] exoticDFT opened #32 "Bug with expired job on jobs page"
It also seems like we may have a bug? We updated the jobs file last week to match us-rse.org, but https://vsoch.github.io/usrse.github.io/jobs/ and https://us-rse.org/jobs/ don't match up. And more specifically, the postings that aren't working seem to have expiration dates that have passed. One example, https://github.com/vsoch/usrse.github.io/blob/c72c67e75d0e98abfc77f29717936e0f270b4c64/_data/j

[2021-05-20 00:29] vsoch commented on #32
There's no reason they should - the updates have to be done manually. Also, the usrse repo has a job that explicitly removes expired jobs (this repo does not, at least I disabled it).

I don't think we should worry about automation here, because we aren't running it here. It's a distraction from working on content and layout of the site.

[2021-05-20 00:49] exoticDFT commented on #32
I'm not sure I follow entirely. The usrse repo is running some automation to remove the expired jobs and we currently have that off for this fork. However, was this automation removing "dead links" or using the "expires" label of the postings? I'm just a little confused on why the pages don't match, since the jobs.md file seems to just reference the "expires" label to decide how the html is popula

[2021-05-20 00:58] vsoch commented on #32
I honestly wouldn't worry about it - when it's time to deploy for the actual site we can just copy paste the correct file :)

[2021-05-20 00:59] vsoch commented on #32
Also, the site that's online here hasn't been built for about 23 days. I had disabled GitHub actions, but should be enabled now.

[2021-05-20 00:59] vsoch commented on #32
see https://github.com/vsoch/usrse.github.io/issues/31

[2021-05-20 04:58] exoticDFT commented on #32
This is the piece I wasn't understanding. I thought the website had been rebuilt when you made the commit to "Sync with usrse...". I'll close this issue then.

[2021-05-20 04:58] #32 closed

[2021-05-20 05:08] exoticDFT commented on #30
@mtbc Just to clarify, by "our job site" you mean whatever job site the URL references? At the moment we are not asking for this information, so we'll have to start asking for a "posted" date along with the "expires" date. I just made some changes to the code to handled a "posted" date if it's included in the job entry.

[2021-05-20 14:02] mtbc commented on #30
I just mean, on https://us-rse.org/jobs/ - if I'm looking at a reverse-chronological ordering of job postings on the US-RSE site and wanting to see which I've not yet seen, I want the posting date to be when it was added to the US-RSE site, so oughtn't need manual entry and lets me stop reading once they start looking familiar.

[2021-05-21 22:46] exoticDFT commented on #30
Thanks for the clarification!

With the current system, I'm not sure how to guarantee a choronlogical order in the current way of handling new posts. At least in terms of "knowing" when a post was added. Currently, we have everyone edit a single file that contains all the posts. They are then rendered on the site based on the order in the file, with the top element being the first on our jobs page

[2021-05-22 00:22] mtbc commented on #30
If the posting date's missing, perhaps the job that removes the expired posts could also fill in its run date as the posting date? It'd be nice if the chronological sort were stable for equal dates.

[2021-05-22 00:41] vsoch commented on #30
We can just do git blame or similar to get the dates they were added. Also - keep in mind that right now we need to focus on the big stuff. The sorting and even how we render jobs is probably something to do after that.

[2021-06-01 19:14] vsoch commented on #25
We discussed in the working group - we are going to have a frontend matter boolean that indicates pages that should have this copyright (e.g., mostly community pages, not anything where there might be a contributor talk, paper, etc.)

[code]

[2021-06-01 19:16] vsoch commented on #25
And we would want to say that copyright for the main site content is this attribution, but copyright for included material remains with contributors.

[2021-06-01 19:23] vsoch commented on #21
Discussion in working group - we like the idea, and think it should be pushed to a "stage 2" of development (e.g. discuss this after the site is integrated.)

[2021-06-01 22:55] vsoch opened #34 "Updates to events/navigation"
- What is an RSE should be moved to about
- Add link to available jobs on front page (maybe replace resources)
-  Should we rename top menu item (careers) to something else? Job Board? need to imply it's not US-RSE careers, but job board.
- Category view of events should be sorted under categories.
 - Events archive should show older events (and archived events should be removed from category / up

[2021-06-01 22:57] vsoch commented on #9
I just tested this out - for the time being we really can't filter to expired events because the page would be entirely empty (we don't have any events!) so I'm just including the top 5 in each category, and the user can then navigate to the fill listing (still organized by category) or organized by year.

[2021-06-04 17:54] cosden opened #37 "Future RSE groups page"
https://us-rse.org/rse-groups/

What becomes of this page? I'd suggest it either needs to be updated/expanded (significantly) or removed.

I'd like it to be the latter, so if it is, then it needs more content. Perhaps we don't need permission/approval to post there, just knowledge that a formal group exists.

[2021-06-04 19:27] mtbc commented on #37
Definite :+1: to preserving but adding content. I could post in `#general` asking people if they're in such a group and, if so, let me know details and I'll open a PR. But, to minimize later merge issues, better against this repo, and people can be okay to wait to be added? Or best to wait to even ask?

[2021-06-14 18:44] mtbc commented on #27
Alternatively, maybe don't make them links if the submenu has all that's needed.

[2021-06-14 19:56] mtbc commented on #10
I'd be all for where and when to be far more prominent, they're principal criteria for me in focusing attention.

[2021-06-14 20:00] mtbc commented on #29
Would it be worth asking in Slack or is it obvious who would know if there is already a policy or, absent one, who would generate it? We could sure try to draft one if it'd not tread in another's bailiwick.

[2021-06-15 03:56] #9 closed

[2021-06-15 03:56] #34 closed

[2021-06-15 04:05] vsoch commented on #18
All set!

![image](https://user-images.githubusercontent.com/814322/121991311-a68ee500-cd5c-11eb-80b9-b93a665b2959.png)

[2021-06-15 04:05] #18 closed

[2021-06-15 04:06] vsoch commented on #31
I think we can close this one.

[2021-06-15 04:06] #31 closed

[2021-06-15 19:33] mtbc commented on #17
I'm happy to do what I can here. Are there notes elsewhere about what members get? I can try to work through them and summarize clearly.

[2021-06-15 19:38] vsoch commented on #27
Yeah this seems more like a bug, I can try fixing it.

[2021-06-15 19:38] vsoch commented on #12
@cmaimone I can put together this starter page - that's a good idea to have a single page to start, and expand after that.

[2021-06-15 21:28] mtbc commented on #7
I'll ask beyond this issue but first let's see what we can figure out here.

* What other (imperfect) one-liners have people been toying with?
* What do people like and dislike about the current one-liner and any others?

Maybe I can find a way to take all that in and get us closer to where we want to be.

[2021-06-15 21:38] mtbc commented on #37
My current intent is to ask in Slack then update this fork accordingly by adding the groups people mention. If anybody would prefer me to do differently, say so soon.

Also, am I right in thinking that this fork doesn't even have that page? Would it maybe go under External?

[2021-06-16 14:42] #12 closed

[2021-06-16 14:42] #27 closed

[2021-06-18 17:37] mtbc commented on #7
Now asked in https://usrse.slack.com/archives/C8ZB01CGH/p1624037223114100.

[2021-06-18 17:42] mtbc commented on #37
Now asked in https://usrse.slack.com/archives/C8ZB01CGH/p1624038092116700.

[2021-06-18 17:44] mtbc commented on #14
Did anything come of (2), @cmaimone, or best to just try to decently clean/organize the ones we have?

[2021-06-25 17:42] cmaimone commented on #19
"Community Documents" appears in two places: direct link under external (which I understand why it's there, but don't know that others will), and under Get Involved.

I suggest removing the page under Get Involved, and just directly linking to the community docs site instead.  Is there a different name we might use for these though?  Maybe Community White Papers?  When I see "Community Documents"

[2021-06-29 19:50] cmaimone commented on #19
Discussed in working group (notes):
- possibly renaming to community white papers or some other name instead of documents to capture what it is
- link under Get Involved instead of external
- Page on website about what the effort is, maybe link to "done" documents (if there are any), but move details to the repo on how to contribute, etc. -- frame as one community activity that people can get invo

[2021-06-29 20:02] vsoch commented on #20
This is done - we now have a simple contact page and an icon with link in the footer. Thanks @cmaimone !

[2021-06-29 20:02] #20 closed

[2021-06-29 21:43] vsoch commented on #19
This should be addressed in #45 and the wiki title is already named.

[2021-07-01 20:43] vsoch commented on #19
Fixed!

[2021-07-01 20:43] #19 closed

[2021-07-07 16:56] mtbc commented on #7
Some thoughts captured from Slack:

[2021-07-07 19:02] mtbc commented on #7
Having mused on the above, I'm currently toying with a working draft of,

I'm going for,
* a community that brings RSEs together
* being vague enough to include anyone who reasonably fits as an RSE
* making RSEs sound useful and worthwhile.

Any thoughts, especially criticisms? I'm not convinced by the "make ... happen", though it sounds excitingly actiony, but I worry that "build ... software" mi

[2021-07-07 20:03] mtbc commented on #37
@danielskatz mentions that the NCSA link will need updating.

To add: RSE group at Brown University, in the [Center for Computation and Visualization (CCV)](https://ccv.brown.edu/).

Also, I can probably extend the ORNL entry.

[2021-07-07 22:40] #17 closed

[2021-07-12 19:02] cosden commented on #37
Some others off the top of my head that aren't there currently that I think we should also include (perhaps after checking with someone) Sandia, University of Alabama, Ohio Supercomputing Center, and Indiana University.

[2021-07-12 21:17] mtbc commented on #37
:+1: I spent years working a very short walk from OSC.

[2021-07-13 19:25] vsoch commented on #8
Okay we're decided to try and phase out the Google calendar if possible - so we will start having the site just use events here, and assess if the Google Calendar would be needed after that (hopefully not!)

[2021-07-13 19:28] vsoch commented on #14
hey @mtbc any updates here?

[2021-07-13 19:28] vsoch commented on #37
@mtbc do you need any help here?

[2021-07-13 19:29] vsoch commented on #30
@exoticDFT do you need any help here?

[2021-07-13 19:30] vsoch commented on #10
@exoticDFT any updates, or do you need any help?

[2021-07-13 19:31] vsoch commented on #7
I like it @mtbc ! I say go for it, because you asked for feedback and collected this result.

[2021-07-13 19:35] cosden opened #51 "New Logo"
Let's consider a new logo to coincide with the release of the website.

[2021-07-13 19:44] cosden commented on #51
Something like 99designs.

Based on conversation with @vsoch:
*  This might take a lot of work for person leading it
*  From start of contest might take 2 weeks or so to finish

[2021-07-13 19:47] mtbc commented on #14
No, though when I last looked at the page, it did look like I should be able to guess a bit at some improvement.

[2021-07-13 19:50] mtbc commented on #37
I *might*, yet to get to trying to make this happen. If anybody wanted to take on more of the liquid scripting side, I can sure try to gather groups in some `_data/*.yml`, otherwise more likely to get to #14 before this one.

[2021-07-13 20:05] vsoch commented on #14
I'd be happy with just copy pasting the current page and adding to the repo via PR, and we can discuss improvements to the page itself post-live.

[2021-07-13 21:05] vsoch commented on #29
Done! https://vsoch.github.io/usrse.github.io/jobs/policy/

[2021-07-13 21:05] #29 closed

[2021-07-13 21:05] vsoch commented on #28
Also done, linked from https://vsoch.github.io/usrse.github.io/jobs/policy/.

[2021-07-13 21:05] #28 closed

[2021-07-15 16:35] cosden opened #54 "DEI Statement in higher level menu"
Once the new DEI statement (https://us-rse.org/dei-mission/) is brought over to the new site, we should feature it properly. I assume that would mean a high level menu item in "about" but could be elsewhere.

[2021-07-20 19:17] mtbc commented on #14
The external links open in a new tab. Ought this also?

[2021-07-20 19:38] vsoch commented on #14
Yes, external links (that make the user leave the site) should be opened in another tab.

[2021-07-20 19:55] mtbc commented on #14
Ah, the links page itself is internal though, okay.

[2021-07-20 19:56] mtbc commented on #14
Hmmm, are things like https://usrse.github.io/blog and https://usrse.github.io/usrse-map "leaving the site"?

[2021-07-20 19:57] vsoch commented on #14
yeah they are technically different sites (and especially now the branding is different).

For the links I misunderstood - the links page itself should not be external as it's part of the site.

[2021-07-20 19:58] vsoch commented on #14
"External" does not mean "A page on the site with links to other resources" it means literally "a list of links that take you off of this site" so the links page itself does not belong there. Apologies for not catching this earlier!

[2021-07-20 21:12] mtbc commented on #14
Aha, okay. Should we maybe consider putting the links page under External, as this issue seems to suggest? It's an internal page but just links to a bunch of external stuff, might be nice to have a few submenu items per heading if the semantics allow.

Re. this issue's description, given the lack of training links from (2), I wonder if the two lists currently on the page could be split into two pa

[2021-07-20 21:17] vsoch commented on #14
I don't think so, I think it belongs under resources. But we should probably have a better organization / structure of resources on the site so it's not just a page with external links.

[2021-07-20 21:17] vsoch commented on #14
And agree - links and training are weirdly grouped together and probably should be flushed out!

[2021-07-21 13:18] mtbc commented on #7
![header](https://user-images.githubusercontent.com/2630707/126495031-dd32ed33-4772-40f5-8f82-5e705cd02944.png)

[2021-07-22 15:54] #7 closed

[2021-07-26 18:54] cosden opened #57 "Donation link/button"
There are still some details to work out, but we should have an obvious way to donate to the organization now that we can accept donations. Maybe a button in the header next to join? Or a menu item that goes to a landing page that then has a link to OCF.

[2021-07-26 18:55] cosden commented on #51
This is sounding like a possibility. We are exploring options and costs now.

[2021-07-27 17:20] exoticDFT commented on #30
Sorry for the delayed response.

I believe what I have in the branch update/job-dates has the framework to at least render/display posting dates (as shown in one of the above comments). Although, I'll obviously need to rebase to get the updates to master.

I think the last conversation we had about this was to wait on the "big stuff". So I guess part of the question is have we done the big stuff y

[2021-07-27 18:17] vsoch commented on #30
@exoticDFT this issue isn't labeled post-live, so we want to get this done before release I think. If you are able, please open the PR!

[2021-07-27 18:18] vsoch commented on #30
And let's chat about your question in the meeting today!

[2021-07-27 19:13] cmaimone opened #58 "Format of News Page"
Want a "friendlier", more engaging layout

Fewer boxes

Have it look more like the bottom of the current main us-rse.org page (news feed at the bottom)

[2021-07-27 19:24] cmaimone opened #60 "Job Board: link under top menu to Submit a Job"
Add a link under top Job Board menu to Submit a Job -- link could go either to the google form directly, or to a landing page that lists the posting policy and then has a link to the google form.

[2021-07-27 19:33] mtbc commented on #14
Happy to leave this issue open as a placeholder for poking the education/training working group. I like the idea of making those links a third menu item as in https://github.com/vsoch/usrse.github.io/pull/55#issuecomment-884971588.

[2021-07-27 19:41] cmaimone commented on #58
If no one else gets to this, I'll do it, but it might take me a bit.  So others are welcome to work on this too.

Some of the files you'll need to work with are:

https://github.com/vsoch/usrse.github.io/edit/master/_includes/post-card.html - this is the individual display for each news item on the news page

https://github.com/vsoch/usrse.github.io/blob/master/assets/css/style.css - this defines

[2021-07-28 14:38] cosden opened #63 "Multiple one-liner descriptions"
The one-line description we have now is good and general. I think it would be great to capture the key action-oriented aspects of US-RSE. It will be impossible to get all of them in a single sentence. However, if we had a few (say 3-5) we could display one randomly or cycle through them at some interval.

There are two aspects to this:
1. Technical  -  how do we display multiple single phrases?
2.

[2021-07-28 15:21] mtbc commented on #63
(1): Hmm, I usually think of Jekyll as a static site generator. Maybe could slip a little bit of basic JavaScript in for this bit?

[2021-08-05 02:25] cosden commented on #14
The first iteration of the E&T group's training links page is now PR #66

[2021-08-05 02:27] cosden commented on #16
This is in progress and should be ready as a PR soon.

It will have two parts the "What is US-RSE?" box and the "about US-RSE"

[2021-08-07 01:11] #30 closed

[2021-08-10 18:17] suednimh commented on #37
I have sent requests to 3 groups at the University of Wisconsin-Madison that provide research software/data science support. I asked permission to list their groups, and if they have a preferred page link and/or contact.

[2021-08-10 19:25] cosden commented on #57
Use word "support" for button

[2021-08-10 19:27] cosden commented on #57
In about menu something  with non-profit status that points to same page

[2021-08-10 19:43] cosden opened #75 "Add dynamic content (news/events) to front page"
The current design doesn't have any recent news or upcoming events. As such it rarely changes. It would be good to display more current events

[2021-08-10 19:49] exoticDFT opened #76 "Make all cards clickable links"
Our current homepage requires users to click on "Read more" links to get to the content. We should make the entire card clickable to get to the content. We will need to do this for all other cards found throughout the website. This will make things more mobile friendly.

[2021-08-10 19:53] #16 closed

[2021-08-10 19:54] #14 closed

[2021-08-10 20:00] exoticDFT commented on #10
- Keep the boxes as "cards", but make them smaller.
- One card per row?
- Make cards clickable
- Only include upcoming events on the main events page
- Add date to top right (right-justified) of cards

[2021-08-10 20:02] exoticDFT opened #78 "Bug: Sidebar menu labels (top link) link to vsoch.github.io"
The news link in the top left of the news related pages goes to the wrong location.

![image](https://user-images.githubusercontent.com/18316938/128927318-62c8700c-4e1a-4bd6-b5ac-89b5afb9b622.png)

[2021-08-10 20:37] cmaimone commented on #78
This is for all of the labels on the sidebar menus, not just the news page.  For example, also https://vsoch.github.io/usrse.github.io/join/ -- Engage with the Community

I can't figure out how to set the links for these.

[2021-08-10 20:49] cmaimone commented on #58
See branch news-design.

Work so far:
- formatted the news items on the main news page list (got rid of card look)
- added subtitles to display on full post pages
- formatting of the tags (lighter, less prominent) on the full post pages and the excerpts
- related css additions/changes (spacing changes after tags, created new css rules for links in <article>

Work that I need help with:
- polishing

[2021-08-10 20:55] cmaimone commented on #58
For a tag listing, the code in pages/tags.html could generate a list of tags, but these are across the site -- some might not be relevant to news specifically.  Not sure if we care.  Since you can now click on tags that are showing, and there's an archive page, I'm not sure if we really need an overall tag list.  Maybe leave this as a future addition if we decide we want it?

[2021-08-10 20:55] #60 closed

[2021-08-11 21:22] #54 closed

[2021-08-11 22:55] exoticDFT commented on #78
@cmaimone Great catch! I believe I found the problem and the where to fix it. Trying to figure out the correct URL variable to use. But right now it's set to go to `/`, which is V's main page.

[2021-08-12 21:47] exoticDFT opened #84 "Discussion: Sidebar menu on each page within a sidebar menu"
When going over issue #78 I noticed that some of the pages contained in a sidebar menu (i.e. https://vsoch.github.io/usrse.github.io/about/what-is-an-rse/) don't also have the sidebar menu themselves.

Do we want to make sure each page contained in a sidebar menu also has the sidebar menu itself? If yes, is there a way to guarantee this or verify through testing?

[2021-08-13 01:25] exoticDFT commented on #78
Mistake in "Get Involved" pages

[2021-08-13 01:37] #78 closed

[2021-08-13 02:11] exoticDFT opened #87 "Discussion: Remove menu title pages from sidebar menus"
After looking into issue #78 and talking with @vsoch. It seems like we have the "News and Updates" link in the sidebar menu, although the title for this menu lead us to this "main" page. The "About" sidebar menu does not have this extra link to itself.

We think it makes sense to follow the "About" menu design and remove the menu's main/title page from the menu itself, leaving it only as the title

[2021-08-13 02:21] vsoch commented on #87
My bias is that each top level menu should be clickable, and clicking goes to the main page (that is accessed clicking the very top title of the sidebar navigation). This is exactly the "About" menu design.

[2021-08-13 02:22] vsoch commented on #87
Probably, but instead of targeting the menu exactly we'd need an index into the larger data structure that renders into the top menu. They don't always have to coincide 1:1 which is why I designed it like this, but you're right it's annoying to sync when you are making large changes.

[2021-08-13 15:31] mtbc commented on #37
I should be able to open a PR here before we next meet, it's looking easier than I'd initially feared since @vsoch pointed me to useful material on the previous site that we fork this from. Please do feel free to add any more groups to the Slack thread and this issue and I'll include them as I go, then we can tweak styling accordingly.

Under the present draft, I'm thinking "Resources": Related Or

[2021-08-13 15:38] suednimh commented on #37
You're way ahead of me, then. I just managed to get Jekyll spun up in a Docker container.

I think we are both seeing that there are two types of Organizations. If you are planning to maintain both pages with different titles under Resources, I think that's a great idea. Or put them on one page with 2 sections, one for each type.

Have you pushed a copy of your branch to Github? That way I could p

[2021-08-13 16:51] mtbc commented on #37
Yes, two pages with different titles, seems the best I can figure right now. I'll let you know when I tidy and push! With luck I'll be able to make it to more meetings again soon too, happened to have unlucky exceptional clashes lately.

[2021-08-16 18:15] mtbc commented on #37
@suednimh: I have opened PR #88 which shows where I am up to. I'll be happy to try to fix it according to what people think or to help you do so.

Some points:
* It's been suggested that there are probably links to add or adjust for:
  - Sandia
  - Ohio Supercomputing Center
  - Indiana University
  - UW Madison
  - NCSA
* My current branch introduces its own CSS as I had trouble figuring how to w

[2021-08-24 17:41] mtbc commented on #37
Those [last couple of points](https://github.com/vsoch/usrse.github.io/issues/37#issuecomment-899717871) can be addressed subsequently. I'll open one for the first.

[2021-08-24 17:41] #37 closed

[2021-08-24 17:45] mtbc opened #91 "Add further RSE groups"
- [ ] Sandia
  - [ ] Ohio Supercomputing Center
  - [ ] Indiana University
  - [ ] UW Madison
  - [ ] NCSA

may all have RSE groups that should be added to `_data/rse-groups.yml` so that they appear at https://vsoch.github.io/usrse.github.io/resources/organizations/rse-groups/.

[2021-08-24 17:45] mtbc commented on #37
Opened #91 about adding the further RSE groups.

[2021-08-31 06:34] exoticDFT commented on #10
I believe I have everything mentioned above done for this issue. Here's a quick screenshot of the only event we have upcoming, with the new layout of course. Followed by a screenshot of what the page would look like if there are more events (I removed the expires check.)

![image](https://user-images.githubusercontent.com/18316938/131452455-f28bc328-aee7-4b6e-87af-4c80782d4d0c.png)

![image](https

[2021-08-31 06:44] vsoch commented on #10
omg this looks gorgeous! I haven't previewed/reviewed it live yet, but will tomorrow (err later today when I wake up). The cards was such a cool idea!

[2021-08-31 17:32] vsoch commented on #10
@exoticDFT do you want to PR to review/preview? I just realized this was commented in an issue (I assumed it was a PR in my tired state, lol).

[2021-08-31 19:29] exoticDFT commented on #10
@vsoch Just opened the PR. Was partially waiting to see if you all thought the new design of the cards was good before I officially opened the PR. Glad you like the new design 😄

[2021-08-31 20:07] vsoch commented on #10
I looooves it! Will take a look soon with some comments and feedback.

[2021-09-03 17:14] danielskatz opened #95 "mission page is missing 4th point on DEI"

[2021-09-03 17:16] danielskatz opened #96 "steering committee"
it would be nice to add years for the steering committee members, including when current terms end

[2021-09-07 18:06] #10 closed

[2021-09-07 18:07] vsoch commented on #95
@danielskatz I have to go through the entire current site and look at every commit and then move content here since the split, so if that content is part of that it will be updated.

[2021-09-17 17:38] cmaimone opened #100 "Sizing issues"
When the browser window is too narrow (and not really all that narrow), the text (org name, slogan) next to the logo on the main page disappears.

![image](https://user-images.githubusercontent.com/14303565/133830562-bca7951d-106c-4d1d-8ae8-a49a2bf9885e.png)

The Join US-RSE button also gets smooshed next to the search icon in the top menu.

[2021-09-21 18:51] cosden commented on #51
Closed with #98!

[2021-09-21 18:51] #51 closed

[2021-09-21 19:19] cmaimone opened #101 "Reduce main page logo size and top area height"
experiment with making the main logo and top area height smaller - take up less of the page and have the logo smaller overall

[2021-09-21 19:28] cmaimone opened #102 "hyperlink colors - no difference between visited and unvisited link colors"
Make visited link colors everywhere the same as the unvisited links -- this would be gray/black in menus, and blue in text

[2021-09-21 19:44] cmaimone opened #103 "new "pink" hex color is #741755"
Change all pink to #741755

Also fix logo files

[2021-09-21 19:45] cmaimone opened #104 "Icon in What is US-RSE? main page box and favicon"
Change from old logo element to something new

[2021-09-21 19:46] cmaimone commented on #102
make links new pink instead of blue in text -- keep them black in top menus

[2021-09-21 19:50] cosden opened #105 "Update Map to reflect new branding"
https://us-rse.org/usrse-map/

that lives here

https://github.com/USRSE/usrse-map

[2021-09-21 19:54] #95 closed

[2021-09-21 19:55] #58 closed

[2021-09-21 20:30] vsoch commented on #105
@cmaimone the map is actually a different repository, so I'm going to transfer the issue there (and I'll assign myself).

[2021-09-21 20:59] #105 closed

[2021-09-21 21:37] vsoch commented on #100
That's intentional - transitioning between the full site to the partial (e.g., likely a tablet) to a phone/mobile view, you can't fit all the elements. I wasn't sure of another better way to do it, but if someone wants to take a shot that would be great!

[2021-09-24 16:26] cosden opened #111 "DEI Mission Statement Menu Highlight"
When actively browsing to the page, the DEI Mission Statement menu stays highlighted blue. It seems to be the only such item/page that behaves this way. It's not a big deal. I actually like the feature and would vote to have it be the default for other pages as it reminds you where you are.

![image](https://user-images.githubusercontent.com/5824618/134708687-b1c641d4-c40c-40e1-b6de-281a8b12d96b.p

[2021-09-24 19:12] #102 closed

[2021-09-24 19:16] cmaimone commented on #111
I had a similar (but maybe different?? IDK) thing happen.  I went to Resources > RSE Resources using the top menu.  Then the menu released.  Then when I did the browser back button to the main page, the menu opened again and had RSE Resources highlighted.  My mouse wasn't near the menu -- it was on the back button.  Seems weird

[2021-09-24 19:25] cmaimone commented on #111
^ happens with other pages too -- when you go back, the menu opens again

[2021-10-03 15:19] #104 closed

[2021-10-05 18:37] cosden opened #117 "Rename master branch"
Don't want this to get forgotten! We should rename master to main (or gh-pages) as discussed here during the move to the new site: https://github.com/USRSE/usrse.github.io/issues/247.

[2021-10-05 19:37] cosden commented on #100
Related: Nav bar is too long. We could consider removing the word "Association" from the home "US-RSE Association" link. Or replace with a logo instead.

[2021-10-05 19:45] cosden commented on #111
Missing in page markdown front matter at top:
menubar: about
menubar_toc: true

https://jekyllrb.com/docs/front-matter/

[2021-10-05 19:47] cosden opened #118 "Do final review viewing with different screen sizes"
Check that everything looks as expected with 3 different viewing sizes

[2021-10-05 19:49] cosden commented on #100
Once "fixed" we need to preview with other screen sizes to make sure nothing else looks odd.

[2021-10-05 21:09] vsoch commented on #91
This looks like it was done!

[2021-10-05 21:13] vsoch commented on #118
I think this is a repeat of #24 - I'll update that issue to mention screen sizes (one person can check both in one go).

[2021-10-05 21:13] #118 closed

[2021-10-05 21:14] vsoch commented on #24
Post live label removed - this needs to be done pre-live.

[2021-10-05 21:26] suednimh commented on #24
I just added it to my list to do when I get home tonight.

On Oct 5, 2021, at 4:14 PM, Vanessasaurus ***@***.******@***.***>> wrote:

Post live label removed - this needs to be done pre-live.

—
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub<https://github.com/vsoch/usrse.github.io/issues/24#issuecomment-934850517>, or unsubscribe<https://github.c

[2021-10-05 21:29] vsoch commented on #24
@suednimh for this particular issue you likely want to wait until the remaining issues are done so you can be sure there aren't more changes! @cosden is that about right?

[2021-10-05 21:31] danielskatz commented on #96
I guess I should do this one - and I could use the hacktoberfest PR :)

[2021-10-05 21:41] tacoelho commented on #76
Can I do this?

[2021-10-05 22:19] mtbc commented on #117
Any CI or actions to update?

[2021-10-06 01:09] mtbc commented on #76
Also don't hesitate to ask if any questions arise, either here or in `#website` on usrse.slack.com.

[2021-10-06 04:39] prashantkr006 commented on #111
@vsoch would you like me to change that bug into the feature and add it as a default for other pages too,I can do it if you will assign it to me?

[2021-10-06 04:52] vsoch commented on #111
@prashantkr006 happy to assign you (and thank you!) I think as @cosden pointed out, the fix is fairly easy - the side menu is missing from the top of the DEI markdown file, so the site thinks it's a separate page. So the quick fix would be to add it (which I suspect would remove the highlighting) or if you really like the feature, to have it be done consistently for all pages of this style (and th

[2021-10-06 05:15] vsoch commented on #111
Many of the drop down menus (about included) have a submenu that is defined, and it's included as @cosden showed in the front end matter. So I think we'd want to be consistent and have the highlight on any dropdown where there are multiple choices, and the user could click and then be confused about which page they are on.

[2021-10-06 05:17] vsoch commented on #111
More specifically:
 - About
 - Getting Involved
 - News

We can do those to start.

[2021-10-06 05:18] prashantkr006 commented on #111
okay, I'm working on it !!

[2021-10-06 05:44] vsoch commented on #111
Awesome! And I'm going to bed soon, so no rush over here - the soonest I could review is tomorrow. Looking forward to it!

[2021-10-06 12:46] mtbc commented on #111
When I build locally, I usually start in a Python virtual environment and do `bundle install` and it builds a bunch of stuff for me. I wonder if you also need that `bundle install`? I'm just guessing here until somebody more knowledgeable comes along.

[2021-10-06 12:52] prashantkr006 commented on #111
@mtbc nope your comment is not irrelevant at all and yes you are right I was trying to do `bundle install` what steps did you follow can you mentionn it to me ? Thankyou!

[2021-10-06 13:05] suednimh commented on #24
Working my way through these pages, suggestions on how to share the interim results? Currently in a text file, and at the end i plan to match to existing issues and submit new ones as needed.

On Oct 5, 2021, at 17:19, Mark Carroll ***@***.***> wrote:

﻿

Could be worth capturing from the CSS which viewport sizes are worth trying because programmed behavior differs among them.

—
You are receiving

[2021-10-09 00:52] vsoch commented on #100
The easiest way to fix this is just to hide the buttons when the screen gets too small.

[2021-10-09 18:02] vsoch commented on #8
Replaced with https://github.com/USRSE/usrse.github.io/issues/512

[2021-10-09 18:02] #8 closed

[2021-10-09 18:04] vsoch opened #125 "Hacktoberfest Participation!"
Hey friend! We are currently transferring the issues from here to the USRSE upstream repository! To find Hacktoberfest issues for the US-RSE site, please see https://github.com/USRSE/usrse.github.io/issues

![image](https://user-images.githubusercontent.com/814322/136669424-17f8335f-fabc-4885-846e-8d7f34e8b567.png)

[2021-10-09 18:09] vsoch commented on #111
@prashantkr006 to keep you in the loop - this site is downstream from our main site at https://github.com/USRSE/usrse.github.io. We are planning to transfer the master branch here to main over there to deploy this site to https://us-rse.org. So if you get your PR in before that, I'm happy to review here and do before the updated site is live. If the deploy comes before you are done your work, I've

[2021-10-09 18:16] #100 closed

[2021-10-09 18:18] vsoch commented on #87
Transferred to main site as discussion! https://github.com/USRSE/usrse.github.io/discussions/517

[2021-10-09 18:18] #87 closed

[2021-10-09 18:19] prashantkr006 commented on #111
okay thanks for your kind gesture! @vsoch I'm working on it and will try to PR asap!

[2021-10-09 18:23] vsoch commented on #76
@tacoelho a quick update for you - this site is downstream from our main site at https://github.com/USRSE/usrse.github.io. We are planning to transfer the master branch here to main over there to deploy this site to https://us-rse.org. So if you get your PR in before that, I'm happy to review here and do before the updated site is live. If the deploy comes before you are done your work, I've creat

[2021-10-09 18:26] vsoch commented on #25
Transferred to https://github.com/USRSE/usrse.github.io/discussions/523

[2021-10-09 18:26] #25 closed

[2021-10-09 18:28] vsoch commented on #24
I'm not going to transfer this issue since it's considered "pre-live" - @suednimh if you want to test this now you can pull the current PR here and `bundle exec jekyll serve` to test locally. https://github.com/vsoch/usrse.github.io/pull/124. I think the plan is to go live next week.

[2021-10-09 18:31] vsoch commented on #11
Transferred to https://github.com/USRSE/usrse.github.io/issues/525.

[2021-10-09 18:31] #11 closed

[2021-10-09 18:35] vsoch commented on #24
@suednimh you should be careful about responding from email - there is a ton of cruft that comes from your email footer. It's probably fine, but a more conservative (and safer) approach would be to click the link to respond directly on here. I've been editing all your comments to clean them up just in case.

[2021-10-09 18:37] suednimh commented on #24
Heh, N00b mistake! I'll stick a post-it on my monitor to remind me ;-) Thanks for the save!

[2021-10-09 18:47] suednimh commented on #24
I really miss plain text email, but my university went with Exchange when they couldn't run their Sun servers anymore. It was major steps backward for the features I used (and I'm too lazy to search out diff tools...). [/grumpy old lady mode]

[2021-10-10 01:15] saadfareed commented on #125
how can i contribute in this issue

[2021-10-10 01:16] vsoch commented on #125
hey @saadfareed this is a "meta" issue to describe other issues. if you read the instructions above it directs you to the USRSE repository https://github.com/USRSE/usrse.github.io/issues. We are about to do a migration so I suggest you wait until early next week to take on an issue.

[2021-10-10 02:01] vsoch opened #128 "Double check jobs"
It's rendering in my local testing, but for some reason not on the current site: https://vsoch.github.io/usrse.github.io/jobs/. Let's keep an eye on it.

[2021-10-11 16:56] #111 closed

[2021-10-11 16:57] #24 closed

[2021-10-11 20:30] suednimh commented on #24
Will do!